<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.svprdga.godotadmobandroidplugin">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotAdmobAndroidPlugin"
            android:value="com.svprdga.godotadmobandroidplugin.GodotAdmobAndroidPlugin" />
    </application>

</manifest>